#current-indicators-table {
  width: 30%;
  margin: 1 auto;
  border-style: none;
}

.borderless td, .borderless th {
  border: none;
}

.table td, .table th {
  text-align: center;
}

.table th {
  font-size: 18px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.all-center {
  display: flex;
  justify-content: center;
}

.even-larger-badge {
  font-size: 12px;
}

.date-form-field {
  margin: 0 8px 16px 0;
}

.title-form-field {
  margin: 0 8px 16px 0;
  margin-top: 12px;
  margin-right: 25px;
}

.execute-analysis-btn {
  margin-top: 10px;
  margin-left: 12px;
  border-style: none;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  height: 40px;
  background-color: #BAFFD0;
  border-radius: 6px;
}

.price-ma-position-title {
  font-family: "Gill Sans", sans-serif;
  font-weight: bold;
  font-size: 19px;
}

table {
  border-collapse: collapse;
}

table td, table th {
  border: 1px solid black;
}

table tr:first-child th {
  border-top: 0;
}

table tr:last-child td {
  border-bottom: 0;
}

table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}

table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}