<div class="container-fluid flex" style="background-color:#FBFBFB; width:30%;">
  <h1 id="current-indicators" style="font-weight:bold;">
    {{ asset }} - Indicadores del día {{currentDate | date:'dd-MM-yyyy'}}
  </h1>
</div>
<div id="current-indicators" class="container-fluid">
  <table id="current-indicators-table" class="table">
    <thead>
      <tr>
        <th style="border-style:none;">Estrategia</th>
        <th style="border-style:none;">Indicador</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Posición de medias móviles y emociones</td>
        <td>
          <div *ngIf="datos['ma-and-price-position']==='RISE' && !loading">
            <span class="badge badge-success even-larger-badge">
              Compra
            </span>
          </div>
          <div *ngIf="datos['ma-and-price-position']==='DROP' && !loading">
            <span class="badge badge-danger even-larger-badge">
              Vende
            </span>
          </div>
          <div *ngIf="datos['ma-and-price-position']!='RISE' && datos['ma-and-price-position']!='SELL' && !loading">
            <span class="badge badge-secondary even-larger-badge">
              N/A
            </span>
          </div>
          <div *ngIf="loading" class="fluid-container d-flex justify-content-center" style="margin-left:auto; margin-right:auto;">
            <mat-spinner [diameter]="20"></mat-spinner>
          </div>
        </td>
      </tr>
      <tr>
        <td>Tres medias móviles</td>
        <td>
          <div *ngIf="datos['three-ma']==='BUY' && !loading">
            <span class="badge badge-success even-larger-badge">
              Compra
            </span>
          </div>
          <div *ngIf="datos['three-ma']==='SELL' && !loading">
            <span class="badge badge-danger even-larger-badge">
              Vende
            </span>
          </div>
          <div *ngIf="datos['three-ma']!='BUY' && datos['three-ma']!='SELL' && !loading">
            <span class=" badge badge-secondary even-larger-badge">
              N/A
            </span>
          </div>
          <div *ngIf="loading" class="fluid-container d-flex justify-content-center" style="margin-left:auto; margin-right:auto;">
            <mat-spinner [diameter]="20"></mat-spinner>
          </div>
        </td>
      </tr>
      <tr>
        <td>Emociones</td>
        <td>
          <div *ngIf="datos['news-emotions']==='BUY' && !loading">
            <span class="badge badge-success even-larger-badge">
              Compra
            </span>
          </div>
          <div *ngIf="datos['news-emotions']==='SELL' && !loading">
            <span class="badge badge-danger even-larger-badge">
              Vende
            </span>
          </div>
          <div *ngIf="datos['news-emotions']!='BUY' && datos['news-emotions']!='SELL' && !loading">
            <span class=" badge badge-secondary even-larger-badge">
              N/A
            </span>
          </div>
          <div *ngIf="loading" class="fluid-container d-flex justify-content-center" style="margin-left:auto; margin-right:auto;">
            <mat-spinner [diameter]="20"></mat-spinner>
          </div>
        </td>
      </tr>
      <tr>
        <td>Combinación de tres medias móviles y emociones
        <td>
          <div *ngIf="datos['three-ma-and-news-emotions']==='BUY' && !loading">
            <span class="badge badge-success even-larger-badge">
              Compra
            </span>
          </div>
          <div *ngIf="datos['three-ma-and-news-emotions']==='SELL' && !loading">
            <span class="badge badge-danger even-larger-badge">
              Vende
            </span>
          </div>
          <div *ngIf="datos['three-ma-and-news-emotions']!='BUY' && datos['three-ma-and-news-emotions']!='SELL' && !loading">
            <span class=" badge badge-secondary even-larger-badge">
              N/A
            </span>
          </div>
          <div *ngIf="loading" class="fluid-container d-flex justify-content-center" style="margin-left:auto; margin-right:auto;">
            <mat-spinner [diameter]="20"></mat-spinner>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="apiNotAvailableErr!=''" class="container-fluid d-flex justify-content-center" style="margin-top:10px;">
  <span class="badge badge-danger" style="font-size:13px;">
    {{apiNotAvailableErr}}
  </span>
</div>
<div *ngIf="notAvailableIndicators" class="container-fluid d-flex justify-content-center" style="margin-top:20px;">
  <span class="badge badge-warning" style="font-size:13px;">
    No hay indicadores disponibles para la fecha actual
  </span>
</div>
<hr>
<div class="container-fluid d-flex justify-content-center item item-1" fxFlex="50%" fxFlexOrder="1" style="margin-top:20px;">
  <h2 class="title-form-field" style="font-weight:bold;">Analizar tendencias pasadas</h2>
  <mat-form-field class="date-form-field" appearance="fill">
    <mat-label>Periodo de análisis</mat-label>
    <mat-date-range-input [formGroup]="period" [rangePicker]="picker1" [comparisonStart]="period.value.start" [comparisonEnd]="period.value.end">
      <input matStartDate placeholder="Inicio" formControlName="start">
      <input matEndDate placeholder="Fin" formControlName="end">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-date-range-picker #picker1></mat-date-range-picker>
  </mat-form-field>
  <div>
    <button mat-raised-button class="execute-analysis-btn" (click)='analyzeTrend()'>
      <mat-icon inline=true style=" height:20px;">trending_up</mat-icon>
      Ejecutar análisis
    </button>
  </div>
</div>

<div *ngIf="loadingAnalysis" class="fluid-container d-flex justify-content-center" style="margin-left:auto; margin-right:auto;">
  <mat-spinner [diameter]="40"></mat-spinner>
</div>
<div id="trend-analysis" class="container" *ngIf="availableTrends && !loadingAnalysis">
  <table id="trend-analysis-table" class="table">
    <thead>
      <tr>
        <th style="border-style:none;">Estrategia</th>
        <th style="border-style:none;">Indicador</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Posición de medias móviles y emociones</td>
        <td>
          <div>
            <span class="badge badge-success even-larger-badge">
              Compra
            </span>
          </div>
          <div *ngIf="loading" class="fluid-container d-flex justify-content-center" style="margin-left:auto; margin-right:auto;">
            <mat-spinner [diameter]="40"></mat-spinner>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>